@charset "utf-8";
#content
{
    border:solid 1px whitesmoke;
    padding:5%;
    min-width:50%;
    border-radius:5px;
    box-shadow: 0px 5px 4px whitesmoke ;
}
form
{
    display: inline-block;
    justify-content: center;
}