@charset "utf-8";
#content
{
    border:solid 1px darkblue;
    padding:5%;
    min-width:50%;
    border-radius:5px;
    box-shadow: 0px 5px 4px darkblue ;
    display: inline-block;
    background-color: aqua;
}
content form
{
    justify-content: center;
    float:right;
}
